# fish excludes
fish/completions
fish/conf.d
fish/functions/**
fish/fish_variables

# include certain fish functions
!fish/functions/fish_user_key_bindings.fish

# exclude alacritty symlink
alacritty/alacritty.yml

# exclude aerc account information
aerc/accounts.conf
