# Fish excludes
fish/completions
fish/conf.d
fish/functions/**
fish/fish_variables

# Include fish user key bindings
!fish/functions/fish_user_key_bindings.fish

# Exclude aerc account information
aerc/accounts.conf

# Exclude __pycache__ and __init__.py for ranger plugins
__pycache__
ranger/plugins/__init__.py

# Exlude lazy lock file for nvim
nvim/lazy-lock.json
