.powermenu {
  background-color: $bg;
  border-radius: 10px;
  padding: 20px;

  font-family: Symbols Nerd Font;
  font-size: 70px;

  button {
    border-radius: 10px;
    transition: all ease 0.2s;

    &:focus {
      background-color: $black;
    }
  }

  .shutdown {
    color: $red;
  }

  .reboot {
    color: $blue;
  }

  .logout {
    color: $green;
  }
}
