[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 300 'swaylock --grace 5 -f' timeout 360 'niri msg action power-off-monitors' before-sleep swaylock lock swaylock
Restart=on-failure
